#dinner-menu-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.menu-page-header {
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 1px;
  margin-top: 1.5em;
  margin-bottom: 1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #beac74;
}
.line-across-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 5px;
  background-color: #beac74;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3em;
}
.dinner-menu-container {
  margin: 0 auto;
  border: 2px solid #7e2900;
  border-radius: 2px;
  padding: 2rem 2rem 1rem;
  width: calc(100% - 2rem);
  margin-bottom: 3em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}
.manu-section-header {
  font-size: 1.6em;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: .5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #beac74;
}
#dinner-item {
  margin-bottom: 1.5em;
  color: #333;
  letter-spacing: 1px;
}
#item-title{
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.3em;
}
#item-description {
  font-size: 1.2em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.3em;
  color: black;
}
#item-price {
  font-size: 1.2em;
  font-weight: bold;
}

/* Desktop View Adjustments */
@media (min-width: 1024px) {
  #dinner-menu-image {
    height: 90vh; /* Adjust height for larger screens */
    object-fit: cover;
  }
  .dinner-menu-container {
    width: 80%; /* Adjust width for larger screens */
    padding: 3rem 3rem 2rem; /* Increase padding for better spacing */
  }

  .manu-section-header {
    font-size: 2.3em; /* Increase font size for better readability */
  }

  #item-title {
    font-size: 1.5em; /* Increase font size for better readability */
  }

  #item-description {
    font-size: 1.3em; /* Increase font size for better readability */
  }
  .line-across-menu {
    width: 20%; /* Adjust width for larger screens */
  }
}